# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/
.notebooks_cache/

# Virtual env
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# API Keys / Secrets
.env
